* {
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 50px;
    background-color: blueviolet;
    color: white;
    padding: 5px 10px 10px 10px;
    border-radius: 0 0 20px 20px;
    font-family: monospace;
    text-align: center;
}

#entrance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#door {
    width: 250px;
    height: 400px;
    background-color: coral;
    border-radius: 100px 100px 0 0;
    border: solid 10px rgb(90, 60, 25);
    display: flex;
    justify-content: center;
}

#left-vertical {
    width: 10px;
    height: 400px;    
    background-color: rgb(90, 60, 25);
    margin: 0 1.5px 0 5px;
}
#right-vertical {
    width: 10px;
    height: 400px;    
    background-color: rgb(90, 60, 25);
    margin: 0 5px 0 1.5px;
}
#left-door-knob {
    width: 25px;
    height: 10px;
    background-color: rgb(90, 60, 25);
    margin: 180px 5px 0 5px;
}
#right-door-knob {
    width: 25px;
    height: 10px;
    background-color: rgb(90, 60, 25);
    margin: 180px 5px 0 5px;
}

#opened-door {
    display: flex;
}
#door-op {
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 100px 100px 0 0;
    border: solid 10px rgb(90, 60, 25);
    display: flex;
    align-items: center;
    justify-content: center;
}
#left-door-op {
    width: 50px;
    height: 402px;
    background-color: coral;
    border-radius: 0 50px 5px 0;
    border: solid 10px rgb(90, 60, 25);
    position: relative;
    left: 40px;
}
#right-door-op {
    width: 50px;
    height: 402px;
    background-color: coral;
    border-radius: 50px 0 0 5px;
    border: solid 10px rgb(90, 60, 25);
    position: relative;
    right: 40px;
}

#toHall {
    font-size: 150px;
    text-decoration: none;
    color: blueviolet;
}