.entrance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    background-color: blueviolet;
    color: white;
    padding: 0 10px 0 10px;
    border-radius: 20px 20px 0 0;
    font-family: monospace;
}

.door {
    width: 250px;
    height: 400px;
    background-color: coral;
    border-radius: 100px 100px 0 0;
    border: solid 10px rgb(90, 60, 25);
}

.left-vertical {
    width: 10px;
    height: 400px;    
    background-color: rgb(90, 60, 25);
    position: absolute;
    left: 49.3%;
    top: 159px;
}
.right-vertical {
    width: 10px;
    height: 400px;    
    background-color: rgb(90, 60, 25);
    position: absolute;
    right: 49.3%;
    top: 159px;
}
.left-door-knob {
    width: 25px;
    height: 10px;
    background-color: rgb(90, 60, 25);
    position: absolute;
    left: 47.3%;
    top: 360px;
}
.right-door-knob {
    width: 25px;
    height: 10px;
    background-color: rgb(90, 60, 25);
    position: absolute;
    right: 47.3%;
    top: 360px;
}

.door-op {
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 100px 100px 0 0;
    border: solid 10px rgb(90, 60, 25);
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-door-op {
    width: 50px;
    height: 402px;
    background-color: coral;
    border-radius: 0 50px 5px 0;
    border: solid 10px rgb(90, 60, 25);
    position: absolute;
    top: 150px;
    left: 40%;
}
.right-door-op {
    width: 50px;
    height: 402px;
    background-color: coral;
    border-radius: 50px 0 0 5px;
    border: solid 10px rgb(90, 60, 25);
    position: absolute;
    top: 150px;
    right: 40%;
}

#toHall {
    font-size: 150px;
    text-decoration: none;
    color: blueviolet;
}