* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    color: white;
    background-color: blueviolet;
    margin-bottom: 5px;
    padding: 5px;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    font-family: monospace;
    flex-wrap: wrap;
}
h1 {
    font-size: 40px;
    margin: 5px 10px 10px 10px;
}
nav {
    display: flex;
    flex-wrap: wrap;
}
.nav-i {
    margin: 10px 10px 0 10px;
    font-size: 30px;
}
.to {
    text-decoration: none;
    color: white;
}