* {
    margin: 0;
    padding: 0;
}
/* -------- BURGER MENU -------- */
header {
    display: flex;
    color: white;
    background-color: blueviolet;
    margin-bottom: 5px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
}
h1 {
    font-size: 40px;
    margin: 5px 10px 10px 10px;
}
nav {
    display: flex;
}
.nav-i {
    margin: 10px;
    font-size: 30px;
}
.to {
    text-decoration: none;
    color: white;
}
.open { display: flex !important }
.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 30px;
    margin: 10px;
}
.line {
    height: 4px;
    width: 100%;
    transform: scale(1);
    background-color: white;
    border-radius: 2px;
}
.burger::before, .burger::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease 0s;
}
.burger::before { top: 0 }
.burger::after { bottom: 0 }
.burger.active .line { transform: scale(0) }
.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}
@media (max-width: 500px) {
    .burger { display: flex }
    nav {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        background-color: darkviolet;
    }
    .nav-i { font-size: 50px }
}
/* --------------------------------------------- */
/* ---------------- Bar ------------------------ */
section {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 10px 0 10px;
}
.circle-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 200px;
    height: 200px;
    border: solid 10px rgb(239, 236, 150);
    border-radius: 50%;
}
.cocktail-juice {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.straight-glass {
    width: 50px;
    height: 100px;
    border: solid 5px lightgray;
    border-top: solid 1px lightgray;
    background-color: white;
}
.juice {
    background-color: coral;
    height: 60%;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tonic {
    background-color: ghostwhite;
    border-top: solid 1px lightgray;
    height: 60%;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bubbles {
    width: 10px;
    height: 10px;
    margin-right: 20px;
    border-radius: 50%;
    border: solid 1px lightgray;
}
.bubbles.less {
    width: 7px;
    height: 7px;
    margin-left: 23px;
    margin-bottom: 5px;
}
.glare {
    border-top: solid 6px lightgray;
    border-bottom: solid 6px lightgray;
    width: 20px;
    height: 20px;
    transform: skew(-45deg)
    rotate(-45deg)
}
.bottom {
    background-color: lightgray;
    height: 20%;
}
.text {
    margin: 5px;
    border-radius: 15px;
    padding: 10px;
}
.price { background-color: lightgreen }
.name { background-color: rgb(239, 236, 150) }