* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    color: white;
    background-color: blueviolet;
    margin-bottom: 5px;
    padding: 5px;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    font-family: monospace;
    flex-wrap: wrap;
}
h1 {
    font-size: 40px;
    margin: 5px 10px 10px 10px;
}
nav {
    display: flex;
    flex-wrap: wrap;
}
.nav-i {
    margin: 10px 10px 0 10px;
    font-size: 30px;
}
.to {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    font-family: monospace;
    flex-direction: column;
    align-items: center;
}

#bar-chairs-hall {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bar {
    margin: 30px;
    margin-left: 60px;
    padding-top: 15px;
    width: 350px;
    color: white;
    display: flex;
    flex-direction: column;
}
#bar-top {
    background-color: rgb(90, 60, 25);
    border: solid 3px black;
    width: 250px;
	height: 50px;
    margin-left: 28px;
	-webkit-transform: skew(-45deg);
}
#bar-bottom {
    display: flex;
}
#bar-main {
    background-color: rgb(90, 60, 25);
    border: solid 3px black;
    border-top: none;
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
#to-the-bar {
    text-decoration: none;
    color: inherit;
    font-size: 40px;
}
#for-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#menu {
    background-color: black;
    border: solid 5px blueviolet;
    width: 40px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    position: relative;
    bottom: 100px;
    -webkit-transform: skewY(5deg);
}
#bar-right {
    background-color: rgb(90, 60, 25);
    border: solid 3px black;
    border-left: none;
    width: 50px;
    height: 100px;
    position: relative;
    bottom: 28px;
    -webkit-transform: skewY(-45deg);
}

#chairs {
    display: flex;
    justify-content: center;
}
.chair {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: blueviolet;
    margin: 0 20px 0 20px;
}
#carpet {
    width: 250px;
    height: 300px;
    background-color: rgb(155, 56, 56);
}