* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(90, 60, 25);
}

header {
    display: flex;
    color: white;
    background-color: blueviolet;
    margin-bottom: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    font-family: monospace;
    flex-wrap: wrap;
}
h1 {
    font-size: 40px;
    margin: 5px 10px 10px 10px;
}
nav {
    display: flex;
    flex-wrap: wrap;
}
.nav-i {
    margin: 10px 10px 0 10px;
    font-size: 30px;
    flex-basis: 0;
    padding: 0;
}
.to {
    text-decoration: none;
    color: white;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 20px rgb(90, 60, 25);
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: monospace;
}

div {
    display: flex;
}

p {
    flex-basis: 33%;
    margin-left: 30px;
    padding: 10px;
}

#content {
    flex-direction: column;
}

.stock {
    border-bottom: solid 1px white;
}