#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 20px rgb(90, 60, 25);
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: monospace;
}

div {
    display: flex;
}

p {
    flex-basis: 33%;
    margin-left: 30px;
}

#drink {
    justify-content: space-around;
    border-bottom: solid white 3px;
}

.title {
    flex-basis: 33%;
    margin-left: 30px;
}

#content {
    flex-direction: column;
}

.stock {
    border-bottom: solid 1px white;
}