main {
    display: flex;
    justify-content: space-around;
    font-family: monospace;
}
#sec-1 {
    border: blue solid 3px;
    flex-basis: 20%;
    height: 600px;
}
#bar-chairs-hall {
    border: red solid 3px;
    flex-basis: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#bar {
    width: 400px;
    height: 100px;
    background-color: darkslateblue;
    color: white;
    display: flex;
    justify-content: space-around;
}
#to-the-bar {
    text-decoration: none;
    color: inherit;
    font-size: 40px;
}
#between {
    flex-basis: 50%;
}
#for-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#menu {
    background-color: black;
    width: 40px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: inherit;
}
#chairs {
    display: flex;
    justify-content: center;
}
.chair {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: blueviolet;
    margin: 0 20px 0 20px;
}
#carpet {
    width: 250px;
    height: 300px;
    background-color: rgb(155, 56, 56);
}
#sec-3 {
    border: green solid 3px;
    flex-basis: 20%;
    height: 600px;
}